<!DOCTYPE html>
<html>
  <head>
    <title>SP - AC</title>
    <style>
      body {
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        color: aliceblue;
        font-size: 2rem;
        padding: 1rem 2rem;
      }
      p {
        color: aliceblue;
      }
    </style>
  </head>
  <body>
    <h1>Service Provider Assertion Consumer</h1>
    <h4>{{ .StatusCode }}</h4>
    <div>
      {{- range .Attributes }}
      <h4>{{.Name}}: {{ .Value }}</h4>
      {{- end }}
    </div>
  </body>
</html>
