<!DOCTYPE html>
<html>
  <head>
    <title>SAML Authentication</title>
    <style>
      body {
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        color: aliceblue;
        font-size: 2rem;
        padding: 1rem 2rem;
      }
      a {
        color: aliceblue;
      }
    </style>
  </head>
  <body>
    <h1>Service Provider</h1>
    <a href="/sp/saml/init"> Start SAML Authentication </a>
  </body>
</html>
